<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local APK Builder</title>
    <script src="/static/vendor/htmx.min.js"></script>
    <script src="/static/vendor/alpine.min.js" defer></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/wizard.css">
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/wizard.js" defer></script>
</head>
<body class="bg-gray-50">
    {{template "header" .}}
    <main class="container mx-auto px-4 py-8">
        <div id="wizard-container" x-data="wizard()">
            {{template "progress" .}}
            <div id="wizard-content">
                {{if eq .Step 1}}
                    {{template "screen1" .}}
                {{else if eq .Step 2}}
                    {{template "screen2" .}}
                {{end}}
            </div>
        </div>
    </main>
</body>
</html>
